.rating-box {
    position: relative;
    background: none;
    padding: 10px 10px 10px;
}

.stars i {
    color: grey;
    font-size: 15px;
}

    .stars i.active {
        color: yellow;
    }

    .stars i.half {
        background: linear-gradient(to right, yellow 50%, grey 50%);
        -webkit-background-clip: text;
        color: transparent;
    }