@{
	ViewBag.Title = "Search Cocktails";
}

<div class="container">
	<div class="row mt-3">
		<div class="col-md-6">
			<div class="input-group mb-3">
				<label class="input-group-text" for="searchCriteria">Search Criteria</label>
				<select class="form-select" id="searchCriteria">
					<option value="CocktailName">By Cocktail Name</option>
					<option value="Ingredient">By Ingredient</option>	
				</select>
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Enter your search query...">
				<button class="btn btn-primary" type="button">Search</button>
			</div>
		</div>
	</div>

	<div class="row">
	
	</div>
