@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <h3 class="text-center">Are you looking for a summer cocktail inspiration?</h3>
    <h3 class="text-center">You are at the right place.</h3>
    <p class="text-center">Browse through our suggestions and discover refreshing recipes.</p>
    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Cocktail" asp-action="RandomCocktail">Get a Random Cocktail</a>
    </div>
    <div class="text-center mt-3">
        <a asp-controller="Cocktail" asp-action="All" class="btn btn-secondary">View All Cocktails</a>
    </div>
</div>